@font-face {
    font-family: "Fraunces 144pt";
    src: url("../assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf");
}

@font-face {
    font-family: "Fraunces-Variable";
    src: url("../assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}

@font-face {
    font-family: "Manrope";
    src: url("../assets/fonts/manrope/static/Manrope-Regular.ttf");
}

@font-face {
    font-family: "Manrope-Variable";
    src: url("../assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}

:root {
    --Dark-Purple: #24053E;
    --Eucaplyptus: #44FFA1;
    --Davys-Grey: #584D62;
    --Ghost-White: #FCF8FF;
    --White: #FFF;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}